<div class="container mt-5">
  <div class="form-container">
    <form #searchForm="ngForm">
      <h5>Todos los campos son Obligatorios</h5>
      <div class="form-group">
        <label for="tipoDocumento">Tipo de documento:</label>
        <select
          class="form-control"
          id="tipoDocumento"
          name="tipoDocumento"
          [(ngModel)]="tipoDocumento"
          (change)="onInputChange()"
          required
        >
          <option value="" disabled selected>
            Seleccione un tipo de documento
          </option>
          <option value="Cédula de ciudadanía">Cédula de ciudadanía</option>
          <option value="Pasaporte">Pasaporte</option>
        </select>
        <div *ngIf="searchForm.submitted && !tipoDocumento" class="text-danger">
          Este campo es obligatorio.
        </div>
      </div>
      <div class="form-group">
        <label for="numeroDocumento">Número de documento:</label>
        <input
          type="text"
          class="form-control"
          id="numeroDocumento"
          name="numeroDocumento"
          [(ngModel)]="numeroDocumento"
          (input)="onInputChange()"
          pattern="[0-9]*"
          minlength="8"
          maxlength="11"
          required
        />
        <div
          *ngIf="searchForm.submitted && !numeroDocumento"
          class="text-danger"
        >
          Este campo es obligatorio.
        </div>
        <div
          *ngIf="
            numeroDocumento &&
            (numeroDocumento.length < 8 || numeroDocumento.length > 11)
          "
          class="text-danger"
        >
          El número de documento debe tener entre 8 y 11 caracteres.
        </div>
      </div>
      <button
        type="button"
        class="btn"
        [ngClass]="isButtonActive ? 'btn-primary' : 'btn-inactive'"
        (click)="buscar()"
      >
        Buscar
      </button>
    </form>
  </div>
</div>
