<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Resumen de Información</h5>
      <div *ngIf="cliente">
        <div class="form-group">
          <label for="tipoDocumento">Primer Apellido</label>
          <input
            type="text"
            class="form-control"
            id="tipoDocumento"
            [value]="cliente.primerApellido"
            disabled
          />
        </div>
        <div class="form-group">
          <label disabled for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            [value]="cliente.nombre"
            disabled
          />
        </div>

        <button type="button" class="btn btn-primary" (click)="volver()">
          Volver
        </button>
      </div>
      <div *ngIf="!cliente">
        <p>Cliente no encontrado.</p>
        <button type="button" class="btn btn-primary my-5" (click)="volver()">
          Volver
        </button>
      </div>
    </div>
  </div>
</div>
